{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.4/css/materialize.min.css">
<link rel="stylesheet" href="{% static 'styles/login.css' %}" />
{% endblock %}

{% block content %}

<div class="log-in-page">
    <div class="header">
        <h1 class="title">elevator</h1>
        <img class="logo" src="{% static 'images/logo.svg' %}" alt="Elevator Logo"/>
    </div>

    <div class="desktop">
        <div class="collection-images">
            <img class="collection" src="{% static 'images/collection.svg' %}" alt="Collection of Desk Supplies"/>
        </div>

        <div class="info-div">
            <div class="header-desktop">
                <h1 class="title-desktop">elevator</h1>
                <img class="logo-desktop" src="{% static 'images/logo.svg' %}" alt="Elevator Logo"/>
            </div>
            <div class="enter-div">
                <a href="{% url 'signup' %}">
                    <h1 class="enter-text sign-up-text">Sign up</h1>
                </a>
                <div class="vertical-divider"></div>
                <h1 class="enter-text log-in-text">Log in</h1>
            </div>
                    
            <form method="POST" action="{% url 'login' %}">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="log-in-btn" value="log in">Log in</button>
                <!-- Feature of Django auth that will automatically redirect a user that tries to access a protected route back to that route after they log in -->
                <input type="hidden" name="next" value="{{ next }}"> 
            </form>
        </div>
    </div>

    <div class="mobile">
        <div class="enter-div">
            <a href="{% url 'signup' %}">
                <h1 class="enter-text sign-up-text">Sign up</h1>
            </a>
            <div class="vertical-divider"></div>
            <h1 class="enter-text log-in-text">Log in</h1>
        </div>
                
        <form method="POST" action="{% url 'login' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="log-in-btn" value="log in">Log in</button>
            <!-- Feature of Django auth that will automatically redirect a user that tries to access a protected route back to that route after they log in -->
            <input type="hidden" name="next" value="{{ next }}"> 
        </form>
    </div>
</div>

{% endblock %}