{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'styles/home.css' %}" />
{% endblock %}

{% block content %}

<div class="home-page">
    <div class="header">
        <h1 class="title">elevator</h1>
        <img class="logo" src="{% static 'images/logo.svg' %}" alt="Elevator Logo"/>
    </div>
    
    <div class="info-div">
        <div class="mission-div">
            <h3 class="mission-title">Our mission</h3>
            <h3 class="mission-statement">We make keeping track of job applications easy</h3>
        </div>
        <div class="features-div">
            <div class="feature-div">
                <img class="feature-img" src="{% static 'images/simple-ui.svg' %}" alt="Simple User Interface Icon"/>
                <div class="feature-text-div">
                    <h4 class="feature-title">Simple user interface</h4>
                    <p class="feature-text">Minimal design and easy to navigate</p>
                </div>
            </div>
            <div class="feature-div">
                <img class="feature-img" src="{% static 'images/boxes.svg' %}" alt="Simple User Interface Icon"/>
                <div class="feature-text-div">
                    <h4 class="feature-title">Stay organized</h4>
                    <p class="feature-text">Divide applications into different categories</p>
                </div>
            </div>
            <div class="feature-div">
                <img class="feature-img" src="{% static 'images/puzzle.svg' %}" alt="Simple User Interface Icon"/>
                <div class="feature-text-div">
                    <h4 class="feature-title">Find your perfect fit</h4>
                    <p class="feature-text">Record and update notes at each of the recruiting process</p>
                </div>
            </div>
        </div>
        <div class="get-started-button mobile">
            <h2 class="get-started">Get started</h2>
        </div>    
    </div>

</div>

{% endblock %}