{% extends 'base.html'%}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'styles/index.css' %}" />
{% endblock %}

{% block content %}
<div class="index-page">
    <div class="header">
        <div class="logo-div">
            <h1 class="title">elevator</h1>
            <img class="logo" src="{% static 'images/logo.svg' %}" alt="Elevator Logo"/>
        </div>
        <div class="top-btns">
            <div class="top-btn">
                <a href="{% url 'applications_create' %}">
                    <p class="p-btn">+ Add app</p>
                </a>
            </div>
            <div class="top-btn">
                <a href="{% url 'logout' %}">
                    <p class="p-btn">Logout</p>
                </a>
            </div>
        </div>
    </div>
    
    {% for application in applications %}
        <div class="app-card">
            <div class="top">
                <p class="company-position">{{ application.company}} - {{ application.position}}</p>
                {% if application.status == 'IC'%}
                <img class="ic-elevator-symbol" src="{% static 'images/two-triangle.svg' %}" alt="Elevator Symbol"/>
                {% elif application.status == 'A' or application.status == 'I' or application.status == 'O'%}
                <img class="elevator-symbol" src="{% static 'images/up-triangle.svg' %}" alt="Elevator Symbol"/>
                {% elif application.status == 'R' %}
                <img class="elevator-symbol" src="{% static 'images/down-triangle.svg' %}" alt="Elevator Symbol"/>
                {% endif %}
            </div>
            <p class="notes">{{ application.notes }}</p>
            <div class="status-div">
                <p class="status">Status: {{ application.get_status_display }}</p>
            </div>
            <div class="bottom">
                <div class="bottom-left">
                    <p class="p-text" ><a class="application-link" href="{{application.application_link}}" target="_blank">{{application.application_link}} </a></p>
                    <p class="p-text location"><span>Location:</span> {{ application.location}}</p>
                    <p class="p-text applied-on"><span>Applied on:</span> {{ application.date_applied}}</p>
                </div>
                <div class="bottom-right">
                    <div class="bot-btn edit-btn">
                        <a href="{% url 'applications_update' application.id %}">
                            <p class="edit-delete-btn">Edit</p>
                        </a>
                    </div>
                    <div class="bot-btn delete-btn">
                        <a href="{% url 'applications_delete' application.id %}">
                            <p class="edit-delete-btn">Delete</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}